---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>


<a href="https://www.xiaohongshu.com/user/profile/60b5b056000000000100ad3e" target="_blank" rel="noopener noreferrer" class="social-icon">
  <img src="redbook-icon.png" alt="Redbook" width="32" height="32">
</a>

</html>
